@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9809 0.0025 228.7836);
  --foreground: oklch(0.1798 0.0104 248.4056);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1798 0.0104 248.4056);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1798 0.0104 248.4056);
  --primary: oklch(0.4003 0.1603 334.9148);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9602 0.0034 247.8587);
  --secondary-foreground: oklch(0.2496 0.0096 248.2123);
  --muted: oklch(0.9602 0.0034 247.8587);
  --muted-foreground: oklch(0.4504 0.0104 248.0584);
  --accent: oklch(0.971 0.0099 335.4733);
  --accent-foreground: oklch(0.2991 0.1007 335.0918);
  --destructive: oklch(0.5502 0.22 25.0385);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8999 0.0046 258.3258);
  --input: oklch(0.8999 0.0046 258.3258);
  --ring: oklch(0.4003 0.1603 334.9148);
  --chart-1: oklch(0.4003 0.1603 334.9148);
  --chart-2: oklch(0.5007 0.1573 145.0446);
  --chart-3: oklch(0.5495 0.1365 54.7239);
  --chart-4: oklch(0.5 0.1999 259.9992);
  --chart-5: oklch(0.5011 0.0867 189.4974);
  --sidebar: oklch(0.9597 0.0052 247.8776);
  --sidebar-foreground: oklch(0.1798 0.0104 248.4056);
  --sidebar-primary: oklch(0.4003 0.1603 334.9148);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9398 0.0083 337.4436);
  --sidebar-accent-foreground: oklch(0.2496 0.0096 248.2123);
  --sidebar-border: oklch(0.8999 0.0046 258.3258);
  --sidebar-ring: oklch(0.4003 0.1603 334.9148);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: 220 20% 10%;
  --shadow-2xs: 0px 4px 12px 0px hsl(220 20% 10% / 0.04);
  --shadow-xs: 0px 4px 12px 0px hsl(220 20% 10% / 0.04);
  --shadow-sm: 0px 4px 12px 0px hsl(220 20% 10% / 0.08), 0px 1px 2px -1px hsl(220 20% 10% / 0.08);
  --shadow: 0px 4px 12px 0px hsl(220 20% 10% / 0.08), 0px 1px 2px -1px hsl(220 20% 10% / 0.08);
  --shadow-md: 0px 4px 12px 0px hsl(220 20% 10% / 0.08), 0px 2px 4px -1px hsl(220 20% 10% / 0.08);
  --shadow-lg: 0px 4px 12px 0px hsl(220 20% 10% / 0.08), 0px 4px 6px -1px hsl(220 20% 10% / 0.08);
  --shadow-xl: 0px 4px 12px 0px hsl(220 20% 10% / 0.08), 0px 8px 10px -1px hsl(220 20% 10% / 0.08);
  --shadow-2xl: 0px 4px 12px 0px hsl(220 20% 10% / 0.2);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1682 0.0045 264.4473);
  --foreground: oklch(0.8999 0.0046 258.3258);
  --card: oklch(0.2208 0.005 248.0527);
  --card-foreground: oklch(0.8999 0.0046 258.3258);
  --popover: oklch(0.2497 0.0058 236.7788);
  --popover-foreground: oklch(0.8999 0.0046 258.3258);
  --primary: oklch(0.5009 0.1597 334.8323);
  --primary-foreground: oklch(0.98 0.0058 333.977);
  --secondary: oklch(0.2208 0.005 248.0527);
  --secondary-foreground: oklch(0.8999 0.0046 258.3258);
  --muted: oklch(0.1989 0.0051 248.0841);
  --muted-foreground: oklch(0.581 0.0047 236.5524);
  --accent: oklch(0.2412 0.0059 236.7944);
  --accent-foreground: oklch(0.8999 0.0046 258.3258);
  --destructive: oklch(0.501 0.2031 25.0094);
  --destructive-foreground: oklch(0.9791 0 0);
  --border: oklch(0.2791 0.007 248.0795);
  --input: oklch(0.2595 0.0063 258.3598);
  --ring: oklch(0.5009 0.1597 334.8323);
  --chart-1: oklch(0.5009 0.1597 334.8323);
  --chart-2: oklch(0.6503 0.1704 144.9078);
  --chart-3: oklch(0.7195 0.178 55.0907);
  --chart-4: oklch(0.621 0.1998 259.8901);
  --chart-5: oklch(0.6191 0.1069 189.9067);
  --sidebar: oklch(0.1395 0.0048 262.8021);
  --sidebar-foreground: oklch(0.8999 0.0046 258.3258);
  --sidebar-primary: oklch(0.5009 0.1597 334.8323);
  --sidebar-primary-foreground: oklch(0.98 0.0058 333.977);
  --sidebar-accent: oklch(0.1989 0.0051 248.0841);
  --sidebar-accent-foreground: oklch(0.8999 0.0046 258.3258);
  --sidebar-border: oklch(0.2208 0.005 248.0527);
  --sidebar-ring: oklch(0.5009 0.1597 334.8323);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0px 8px 16px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 8px 16px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm: 0px 8px 16px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow: 0px 8px 16px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md: 0px 8px 16px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0px 8px 16px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0px 8px 16px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 8px 16px 0px hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
